body {
}

.main-reg-form{
    margin-top:40px;
    margin-bottom:40px;
}
.space-inputs{
    margin-top:10px;
    margin-bottom:10px;
}

footer{
    min-height:500px;
    width:100%;
    background-color:#e67e22;
}